html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: $medium-sized;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
