.page-footer {
  padding-left: 5rem;
  padding-right: 5rem;
}

.page-footer > .footer-copyright {
  margin-left: -5rem;
  margin-right: -5rem;
  padding-left: 5rem;
}

.footer-white-text {
  font-weight: 900;
  letter-spacing: -0.1rem;
}

.footer-paragraph {
  line-height: 2rem;
  font-weight: 100;
}
