.brand-logo {
  margin-left: 5%;
  font-weight: 900;
  letter-spacing: -0.1rem;
}

.header-right {
  margin-right: 5%;
}

.header-right > li > a {
  font-size: $medium-sized;
  font-weight: 100;
  letter-spacing: -0.13rem;
}
